.about-jobex{
    color: white;
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
}
.gen-div{
    padding-right: 60px;
    padding-left: 60px;
}
.jobex{
    font-size: 40px;
    color: lightgreen;
}
.v-e-o{
    margin-top: 100px;
}
.vision{
    font-size: 40px;
    color: lightgreen;
}
.m-o-jex{
    margin-top: 100px;
}
.mission{
    font-size: 40px;
    color: lightgreen;
}
.w-a-w{
    margin-top: 100px;
}
.who-are-we{
    font-size: 40px;
    color: lightgreen;
}
.icon-text span {
    text-align: center;
    color: lightgreen;
}
.c-s{
    text-decoration: none;
}

